<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
		<class name="de.alpharogroup.exception.ExceptionExtensionsTest"/>
		<class name="de.alpharogroup.iban.BankaccountExtensionsTest"/>
		<class name="de.alpharogroup.id.generator.SystemTimeIdGeneratorTest"/>
		<class name="de.alpharogroup.io.SerializedObjectExtensionsTest"/>
		<class name="de.alpharogroup.io.StreamExtensionsTest"/>
		<class name="de.alpharogroup.lang.AnnotationExtensionsTest"/>
		<class name="de.alpharogroup.lang.ClassExtensionsTest"/>
		<class name="de.alpharogroup.lang.MemoryExtensionsTest"/>
		<class name="de.alpharogroup.lang.ObjectExtensionsTest"/>
		<class name="de.alpharogroup.lang.PackageExtensionsTest"/>
		<class name="de.alpharogroup.lang.PropertiesExtensionsTest"/>
		<class name="de.alpharogroup.lang.sub.SubPackageClass"/>
		<class name="de.alpharogroup.math.MathExtensionsTest"/>
		<class name="de.alpharogroup.regex.RegExExtensionsTest"/>
		<class name="de.alpharogroup.string.StringUtilsTest"/>
        <class name="de.alpharogroup.reflection.ReflectionExtensionsTest" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
